.Rproj.user
.Rhistory
.RData
.Ruserdata
9606.protein.info.v12.0.txt
9606.protein.links.detailed.v12.0.txt
proteinGroups_sqstm1.txt
proteinGroups_APEX_P62.txt
Univariate_table_2023-10-20.xlsx
myfun_test.R
r6class_app.R